*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.navbar{
    background-color: rgb(3, 165, 3);
    width: 100%;
    min-width: 550px;
    text-align: center;
}
.navbar-brand{
    font-size: 30px;
    font-family: 'lucida calligraphy';
    color: white;
    /* margin:0% 0% 0% 1%; */
    text-align: center;
    /* display: inline-block; */
}
.navbar a{
    text-decoration: none;
    text-align: center;
}
.navbar a:hover{
    color: white;
}

.result_section{
    background-color: rgb(255, 255, 255);;
    border: rgb(255, 255, 255);
    width: auto;
    overflow: hidden;
    min-height: 655px;
    padding-bottom: 20px;
    height: auto;
    margin-top: 1%;
    margin-left: 15px;
    margin-right: 1%;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}
#result_list{
    
    font-size: 18px;
    border-collapse: collapse;
    border: 1px solid black;
}
#result_list tr td{
    text-align: center; 
    
   
}
#result_list th {
    background-color:rgb(3, 165, 3);
    font-size: 18px;
    color: white;
    text-align: center;
    width: 10%;
  }
.img-thumbnail{
    width: 85%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }