{% extends './base.html' %}
{% load static %}

{%block title%}
Home
{%endblock%}



{% block content %}
<div class="container-fluid" id="company-content">

<div class="card">
    <div class="card-body">
        <div class="form-model-group" >
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                        <p>{{ field }}</p>
                        {% if field.errors %}
                            <p> {{ field.errors }} </p>
                        {% endif %}
                {% endfor %}
                <p><input type="submit" id="reg-btn" class="btn btn-secondary" value="Submit"/></p>
                <!-- <p><button class="btn btn-secondary" id="reg-btn">Submit -->
                </button></p>
            </form>
        </div>
    </div>
</div>
{%endblock%}